<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="./styles.css">

  <title>Formulário de contratação</title>
</head>
<body>
  <section>
    <h1>Formulário para contratação de professores</h1>

    <p>
      Olá professor! Preencha o formulário abaixo com o que se pede para que sua 
      candidatura à vaga seja concluída.
    </p>

    <form id="form" name="form">

      <p>Quais seus turnos disponíveis? *</p>
      <div class="radio-inputs-wrapper">

      </div>

      <p>Qual o seu nível de escolaridade? *</p>
      <div class="radio-inputs-wrapper">
        
      </div>

      <footer>
        <button class="submit-button">Enviar</button>
      </footer>
    </form>
  </section>
</body>

<script src="./index.js"></script>
</html>