* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background: #343a40;
  color: #2b2d42;
  -webkit-font-smoothing: antialiased;
}

body,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

section {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.board {
  width: 600px;
  height: 600px;

  background: #495057;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.board > div {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  justify-content: space-evenly;
}

.square {
  width: 100px;
  height: 100px;

  background: #6b9080;

  display: flex;
  align-items: center;
  justify-content: center;
}