* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
}

section {
  width: 100%;
  max-width: 800px;

  margin: 0 auto;
  padding: 2rem;
}

#presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#presentation > div {
  max-width: 350px;
  text-align: center;

  margin-top: 2rem;
}

#presentation > div h1 {
  margin-bottom: 1rem;
}

#offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#offer .card {
  width: 280px;
  height: 150px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 1rem;
}

#offer .card h2 {
}

#caption {
  display: flex;
  align-items: center;
  justify-content: center;
}

#caption a {
  padding: 1rem 2rem;
}

#caption button {
  padding: 1rem 2rem;

  cursor: pointer;

  margin-left: 1rem;
}
