* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  background: #fff;
}

body>div {
  background: #cad2c5;

  width: 400px;
  height: 250px;

}

body>div .box {
  width: 80px;
  height: 80px;

  background: #84a98c;
}

.container {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
}