* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;

  background: #fff;
}

body > div {
  background: #cad2c5;

  width: 400px;
  height: 250px;

  gap: 2rem;
}

body > div .box {
  width: 80px;
  height: 80px;
  
  background: #84a98c;
}
