body {
  font-family: "Roboto", sans-serif;
}

.with-background {
  width: 300px;
  height: 300px;

  border: 1px solid #000;

  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: red;
}

h2 {
  color: rgb(0, 255, 255);
}

h3 {
  color: #ffd166;
}

h4 {
  color: hsl(104, 100%, 50%);
}

.with-background {
  background: #000;
}
