body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

body>div {
  width: 50px;
  height: 50px;

  margin: 1rem;

  background: #2646532d;
}

.dotted {
  border: dotted;
}

.dashed {
  border: dashed;
}

.solid {
  border: solid;
}

.double {
  border: double;
}

.groove {
  border: groove;
}

.ridge {
  border: ridge;
}

.inset {
  border: inset;
}

.outset {
  border: outset;
}

.outset {
  border: none;
}

.outset {
  border: hidden;
}